[submodule "ace-jump-mode"]
	path = elisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "cperl-mode"]
	path = elisp/cperl-mode
	url = https://github.com/jrockway/cperl-mode.git
[submodule "elisp/yasnippet"]
	path = elisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet
[submodule "elisp/undo-tree"]
	path = elisp/undo-tree
	url = http://www.dr-qubit.org/git/undo-tree.git
