[submodule "ace-jump-mode"]
	path = elisp/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "cperl-mode"]
	path = elisp/cperl-mode
	url = https://github.com/jrockway/cperl-mode.git
